<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "picture.png", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>As a current  high school and early college student at NUAMES, I have been trying to get my associates degree. Although there are coding classes offered through  Weber I can take, I have to decided to take the Code to Success course in order to get ahead.</p>
  </div>
  
</div>
