<div class="app-card-container">
  <div class="card">

    <h1>Contact Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>Address:</h3>
          <p>1676N 1350W Clinton, UT 84015</p>
          
          <h3>Phone:</h3>
          <p><%= number_to_phone "3852015717" %></p>
          
          <h3>Email:</h3>
          <p><a href="mailto:isabella.gilman002@gmail.com?subject=PortfolioContact" "email me">isabella.gilman002@gmail.com</a></p>
        </div>
      </div>
      
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.8495051471577!2d-112.05381948421314!3d41.137811179287844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87531acc4f1ed629%3A0xefc8ccfdf15b0da5!2s1676+N+1350+W%2C+Clinton%2C+UT+84015!5e0!3m2!1sen!2sus!4v1501166263636" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div> 
    </div>
  </div>
</div>